<%= form_with(model: favorite_station, local: true) do |form| %>
  <% if favorite_station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(favorite_station.errors.count, "error") %> prohibited this favorite_station from being saved:</h2>

      <ul>
      <% favorite_station.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name_railway %>
    <%= form.text_area :name_railway %>
  </div>

  <div class="field">
    <%= form.label :station_name %>
    <%= form.text_area :station_name %>
  </div>

  <div class="field">
    <%= form.label :how_minute %>
    <%= form.number_field :how_minute %>
  </div>

  <div class="field">
    <%= form.label :rental_id %>
    <%= form.text_field :rental_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
