<%= form_with(model: rental, local: true) do |form| %>
  <% if rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
      <% rental.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "物件名" %>
    <%= form.text_area :property %>
  </div>

  <div class="field">
    <%= form.label "賃料" %>
    <%= form.number_field :rent %>
  </div>

  <div class="field">
    <%= form.label "住所" %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label "築年数" %>
    <%= form.number_field :building_age %>
  </div>

  <div class="field">
    <%= form.label "備考" %>
    <%= form.text_area :remark %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <%= form.fields_for :favorite_stations do |favorite_station| %>
    <h2>最寄り駅</h2>
    　　<div class="name_railway">
  　　<%= favorite_station.label :name_railway, "路線名" %><br>
  　　<%= favorite_station.text_field :name_railway %>
  　　</div>
    　　<div class="station_name">
  　　<%= favorite_station.label :station_name, "駅名" %><br>
  　　<%= favorite_station.text_field :station_name %>
  　　</div>
    　　<div class="how_minute">
  　　<%= favorite_station.label :how_minute, "徒歩分数" %><br>
  　　 <%= favorite_station.text_field :how_minute %>分<br>
  　　</div>
    　　<%= form.submit '登録する' %>
    <%#= binding.irb %>
  <% end %>

<% end %>
