<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @rental.property %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @rental.rent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @rental.address %>
</p>

<p>
  <strong>Building age:</strong>
  <%= @rental.building_age %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @rental.remark %>
</p>

<%= form.fields_for :nearest_stations do |nearest_station| %>
  　　<div class="route">
  　　<%= nearest_station.label :路線名 %><br>
  　　<%= nearest_station.text_field :route %>
  　　</div>
  　　<div class="station">
  　　<%= nearest_station.label :駅名 %><br>
  　　<%= nearest_station.text_field :station %>
  　　</div>
  　　<div class="minutes_walk">
  　　<%= nearest_station.label :徒歩分数 %><br>
  　　 <%= nearest_station.text_field :minutes_walk %>分<br>
  　　</div>
  　　<%= form.submit '登録する' %>
<% end %>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
