<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @rental.property %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @rental.rent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @rental.address %>
</p>

<p>
  <strong>Building age:</strong>
  <%= @rental.building_age %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @rental.remark %>
</p>

<tbody>
  <% @favorite_station.each do |station| %>
    <p>

      <strong>最寄駅:</strong>
      <%= station.name_railway.present? %>
    </p>

    <p>
      <strong>駅名:</strong>
      <%= station.station_name.present? %>
    </p>

    <p>
      <strong>徒歩分数:</strong>
      <%= station.how_minute.present? %>
    </p>

    <p>
      <strong>物件名:</strong>
      <%= station.rental.present? %>
    </p>
  <% end %>
</tbody>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
