<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @rental.property %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @rental.rent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @rental.address %>
</p>

<p>
  <strong>Building age:</strong>
  <%= @rental.building_age %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @rental.remark %>
</p>

<tbody>
<% @favorite_stations.each do |favorite_station| %>
  <% if @rental.favorite_stations.any? %>
    <strong>路線名:</strong>
    <%= favorite_station.name_railway %>
    <strong>駅名:</strong>
    <%= favorite_station.station_name %>
    <strong>徒歩分数:</strong>
    <%= favorite_station.how_minute %>
  <% end %>
<% end %>
</tbody>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>